.footer_section {
  background-color: #29314d;
}

.footer_section_sub {
  max-width: 120rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  gap: 4rem;
  padding: 4rem;
}
.footer_logo_text {
  color: #f1f6f1;
  font-size: 4.4rem;
  font-weight: 600;
  margin-right: 2rem;
}
.footer_desc {
  max-width: 41rem;
}

.footer_desc_text {
  color: #cdd1d4;
  font-size: 1.6rem;
}

.footer_line {
  align-self: center;
  width: 1px;
  height: 17rem;

  border: 2px solid #68757d;
  margin-left: 4rem;
}

.footer_social {
  padding: 2rem;
  display: flex;
  color: #cdd1d4;
  font-size: 2.2rem;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer_social_link:hover {
  color: #fff;
  border-bottom: 1px solid white;
}

@media screen and (max-width: 34em) {
  .footer_section_sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 1rem;
    padding: 0rem;
  }

  .footer_line {
    align-self: center;
    width: 80%;
    height: 1px;

    border: 2px solid #68757d;

    margin-left: 0rem;
  }
  .footer_logo_text {
    color: #f1f6f1;
    font-size: 4.4rem;
    font-weight: 600;
    margin-right: 0rem;
  }
  .footer_desc {
    align-self: center;
  }

  .footer_desc_text {
    color: #cdd1d4;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 44em) {
  .footer_desc_text {
    text-align: center;
  }
}
