.form {
  margin: 10rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section_form {
  padding: 0;
}
.form_group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.advice_textarea {
  height: 50rem;
  display: inline-block;
  padding: 2rem;
}
.form_label {
  width: 100%;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}
.advice_btn {
  margin: 5rem;
}

.form_label_proposal {
  font-size: 1.2rem;
}
@media screen and (max-width: 50em) {
  .form {
    margin: 5rem 2rem;
  }
}
