.section_hero {
  background-color: #f1f6f1;
  padding: 6rem;
}
.hero {
  max-width: 73rem;
  height: 100%;
  margin: 4rem auto 10rem;
  padding: 0 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h1 {
  font-size: 4.8rem;
}
.description {
  font-size: 1.6rem;
}
.btn {
  width: 25%;
  text-align: center;
  font-size: 1.6rem;
  margin-top: 1.6rem;
}
.desc_mobile {
  display: none;
}

.button1 {
  display: flex;

  align-items: center;
}
.icon {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 34em) {
  .h1 {
    text-align: center;
  }

  .description {
    display: none;
  }

  .desc_mobile {
    display: block;
    font-size: 1.8rem;
  }

  .hero {
    align-items: center;
  }
  .btn {
    width: 100%;
  }
}
